﻿
@{
    ViewBag.Title = "Sipsik";
}

<h2>Sipsik</h2>

<p>Täna on @System.DateTime.Today.DayOfWeek</p>

<div>
    <h3>Minu sõbrad</h3>
    @*@foreach(string sõber in ViewBag.Sõbrad)
    {
        <p>@sõber</p>
    }*@
</div>